@import "../../Sass/_variables.sass"
  
.card
  position: relative

  display: flex
  flex-direction: column
  width: 341px
  overflow: hidden

  font:
    size: 16px
  
  border: 1px solid grey
    radius: 16px

  &__label
    position: absolute
    top: 40px
    left: 0px

    display: inline-flex
    justify-content: center
    align-items: baseline
    width: 96px
    height: 35px

    font:
      size: 0.75em
      weight: 600
    line-height: 40px

    background:
      color: $label-bg

    &--alt
      top: 0px

      color: $label-alt

      border:
        radius: 0 0 12px 0
      background: 
        color: $label-bg-alt

  &__img
    width: 100%
    height: 220px

    object-fit: cover

    &--alt
      height: 283px

  &__content
    padding: 15px 12px 19px

  &__duration
    display: flex
    align-items: center
    margin:
      bottom: 9px

  &__duration-svg
    width: 16px
    height: 16px
    margin:
      right: 8px

    fill: $svg-clocks-color

  &__duration-text
    font:
      size: 0.75em
    color: $duration-time-color
    line-height: 22px

  &__title
    margin:
      bottom: 18px

    font:
      size: 0.875em
      weight: 600
    color: $offer-color
    line-height: 22px
    letter-spacing: 0.2px

  &__advantages-list
    margin:
      bottom: 33px
      left: 20px
    list-style-image: url("../data/checkMark.svg")

  &__advantage-wrapper
    padding:
      left: 16px
    margin:
      bottom: 15px

  &__advantage-text
    margin:
      bottom: 8px

    font:
      size: 0.875em
    color: $advantage-color
    line-height: 20px
    letter-spacing: 0.5px

  &__shedule
    padding-right: 7px

  &__time-input
    display: none

  &__time-label
    display: inline-flex
    justify-content: center
    align-items: center
    width: 63px
    height: 24px
    margin:
      right: 1.5px
      bottom: 4px

    border:
      radius: 11px
    background: 
      color: $time-label-bg
    cursor: pointer

  &__info
    display: flex
    justify-content: space-between
    padding: 0 7px

  &__cost
    display: flex
    flex-direction: column
    justify-content: center

  &__cost-main
    font:
      size: 1.875em

  &__cost-sub
    flex-grow: 1
    margin:
      top: 2px

    font:
      size: 0.625em

  &__more-btn
    display: inline-block
    flex-shrink: 0
    width: 165px
    height: 44px
    margin:
      top: 3px

    border: 0.5px solid $more-btn-border
      radius: 20px
    background:
      color: $more-btn-bg
    cursor: pointer

    &:hover
      background: 
        color: $more-btn-bg-hover

    &--alt
      width: 193px

      border: 
        radius: 10px

.card__time-input:checked + .card__time-label
  color: $time-label-checked

  background:
    color: $time-label-bg-checked
  box-shadow: 0 2px 2px 0 grey