$screen-xs: 0
$screen-sm: 576px
$screen-md: 768px
$screen-lg: 992px
$screen-xl: 1200px
$screen-xxl: 1400px

$svg-clocks-color: #C7C7C7
$duration-time-color: #9e9e9e
$time-label-bg: #D9E8FF
$time-label-bg-checked: #6BA6FF
$more-btn-bg: #FED74B