$screen-xs: 0
$screen-sm: 576px
$screen-md: 768px
$screen-lg: 992px
$screen-xl: 1200px
$screen-xxl: 1400px

$label-color: #3E3E3E
$label-bg-new: #FED74B
$label-alt-color: #FFFFFF
$label-bg-new-2: #7553FF
$label-bg-new-3: #099CE8
$svg-clocks-color: #C7C7C7
$duration-time-color: #9e9e9e
$offer-color: #404040
$advantage-color: #4B4B4B
$time-label-color: #343434
$time-label-bg: #D9E8FF
$time-label-bg-checked: #6BA6FF
$time-label-checked: #FFFFFF
$time-label-checked-shadow: #AAAAAA
$cost-svg: #000000
$more-btn-color: #404040
$more-btn-bg: #FED74B
$more-btn-border: #CBA500
$more-btn-bg-hover: #ffe277