html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Raleway";
  font-weight: 400;
  src: url(../fonts/Raleway-Regular.ttf), local("Arial");
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  font-weight: 500;
  src: url(../fonts/Raleway-Medium.ttf), local("Arial");
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  font-weight: 700;
  src: url(../fonts/Raleway-Bold.ttf), local("Arial");
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("OpenSans-Regular.woff2") format("woff2") url("OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("OpenSans-SemiBold.woff2") format("woff2") url("OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

html:root {
  font-family: "Open-sans", Arial, sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  padding: 12px;
}

.body {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}
.body__card {
  margin: auto;
}
@media (min-width: 992px) {
  .body__card {
    margin: 0 auto 0 0;
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 341px;
  overflow: hidden;
  font-size: 16px;
  border: 1px solid grey;
  border-radius: 16px;
}
@media (min-width: 992px) {
  .card {
    flex-direction: row;
    min-width: 1070px;
    min-height: 370px;
  }
}
.card__label {
  position: absolute;
  top: 40px;
  left: 0px;
  display: inline-flex;
  justify-content: center;
  align-items: baseline;
  min-width: 96px;
  height: 35px;
  padding: 0 8px;
  font-size: 0.75em;
  font-weight: 600;
  line-height: 40px;
}
.card__label--alt {
  top: 0px;
  border-radius: 0 0 12px 0;
}
.card__label--new {
  background-color: #FED74B;
}
.card__label--new-alt {
  color: #FFFFFF;
  background-color: #7553FF;
}
.card__img {
  width: 100%;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 992px) {
  .card__img {
    width: 472px;
    height: 100%;
  }
}
.card__img--alt {
  height: 283px;
}
@media (min-width: 992px) {
  .card__img--alt {
    width: 472px;
    height: 100%;
  }
}
.card__content {
  padding: 15px 12px 19px;
}
@media (min-width: 992px) {
  .card__content {
    display: grid;
    padding: 18px;
  }
}
.card__duration {
  display: flex;
  align-items: center;
  margin-bottom: 9px;
}
.card__duration-svg {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  fill: #C7C7C7;
}
.card__duration-text {
  font-size: 0.75em;
  color: #9e9e9e;
  line-height: 22px;
}
@media (min-width: 992px) {
  .card__duration-text {
    font-size: 0.875em;
  }
}
.card__title {
  margin-bottom: 18px;
  font-size: 0.875em;
  font-weight: 600;
  color: #404040;
  line-height: 22px;
  letter-spacing: 0.2px;
}
@media (min-width: 992px) {
  .card__title {
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 1.625em;
    font-weight: 400;
  }
}
.card__advantages-list {
  margin-bottom: 33px;
  margin-left: 20px;
  list-style-image: url("../data/checkMark.svg");
}
.card__advantage-wrapper {
  padding-left: 16px;
  margin-bottom: 15px;
}
.card__advantage-text {
  display: inline-block;
  vertical-align: text-top;
  margin-bottom: 8px;
  font-size: 0.875em;
  color: #4B4B4B;
  line-height: 20px;
  letter-spacing: 0.5px;
}
@media (min-width: 992px) {
  .card__advantage-text {
    font-size: 1.125em;
  }
}
.card__shedule {
  display: inline-block;
  padding-right: 7px;
}
@media (min-width: 992px) {
  .card__shedule {
    vertical-align: bottom;
  }
}
.card__time-input {
  display: none;
}
.card__time-label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 63px;
  height: 24px;
  margin-right: 1.5px;
  margin-bottom: 4px;
  border-radius: 11px;
  background-color: #D9E8FF;
  cursor: pointer;
}
.card__info {
  display: flex;
  justify-content: space-between;
  padding: 0 7px;
}
.card__cost {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card__cost-main {
  font-size: 1.875em;
}
@media (min-width: 992px) {
  .card__cost-main {
    font-size: 2.25em;
  }
}
.card__cost-sub {
  flex-grow: 1;
  margin-top: 2px;
  font-size: 0.625em;
}
@media (min-width: 992px) {
  .card__cost-sub {
    font-size: 0.875em;
  }
}
.card__more-btn {
  display: inline-block;
  flex-shrink: 0;
  width: 165px;
  height: 44px;
  margin-top: 3px;
  border: 0.5px solid #CBA500;
  border-radius: 20px;
  background-color: #FED74B;
  cursor: pointer;
}
@media (min-width: 992px) {
  .card__more-btn {
    width: 187px;
    height: 52px;
    font-size: 1.125em;
    border-radius: 23px;
  }
}
.card__more-btn:hover {
  background-color: #ffe277;
}
.card__more-btn--alt {
  width: 193px;
  border-radius: 10px;
}
@media (min-width: 992px) {
  .card__more-btn--alt {
    width: 187px;
    height: 52px;
    font-size: 1.125em;
    border-radius: 23px;
  }
}

.card__time-input:checked + .card__time-label {
  color: #FFFFFF;
  background-color: #6BA6FF;
  box-shadow: 0 2px 2px 0 grey;
}